<!DOCTYPE html>
<html>
<head>
<link href="static/css/main.css?{{time}}" rel="stylesheet" type="text/css"/>

<title>Title of the document</title>
</head>
<body>
    <!--            头部          -->
    <div class="head">

    </div>
    <div class="msg">
    </div>
    <!--            内容          -->
    <div class="content">
        
        <div class="dogs">
        </div>
        <button class="dog-refresh">刷新</button>
    </div>
</body>
<script src="static/js/jquery-3.3.1.min.js"></script>
<script src="static/js/main.js?{{time}}"></script>
</html>